<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alanna's Blog</title>
    </head>
    <body>
            <div>
                <h1><a href="/">Alanna's Blog</a></h1>
            </div>

            <div>
                <p>published: 30.07.2019, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>This is my first blog post, written while developing this blog through a django girls tutorial!</p>
            </div>

            <div>
                <p>published: 30.07.2019, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>My second post. Still just testing.</p>
            </div>
    </body>
</html>