<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Alanna's Blog</title>
    </head>
    <body>
            <div>
                <h1><a href="/">Alanna's Blog</a></h1>
            </div>

            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>     <!--linebreaksbr - to convert line breaks to paragraphs-->
                </div>
            {% endfor %}
    </body>
</html>